{include file="public/header" /}



<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>属性管理</h3>
            </div>
            {include file="public/admin_items" /}
        </div>
    </div>


    <div class="fixed-empty"></div>
    <form method="post" >
        <table class="ds-default-table">
            <thead>
                <tr class="thead">
                    <th class="w24"></th>
                    <th class="w300">属性名称</th>

                    <th class="align-center">{$Think.lang.ds_handle}</th>
                </tr>
            </thead>
            <tbody>
                {notempty name="material3_info"}
                {foreach name="material3_info" item="v"}
                <tr class="hover">
                    <td class="w24">{$v.material3_id}</td>
                    <td class="name"><span class="editable"  ds_type="inline_edit" ajax_branch='material3_branch' fieldname="material3_name" fieldid="{$v.material3_id}" required="1"  title="{$Think.lang.ds_editable}">{$v.material3_name}</span></td>


                    <td>

                     <a href="javascript:dsLayerConfirm('{:url('material3/material3_del',['material3_id'=>$v.material3_id])}','{$Think.lang.ds_ensure_del}')" class="dsui-btn-del"><i class="iconfont"></i>{$Think.lang.ds_del}</a>
                    </td>
                </tr>
                {/foreach}
                {else /}
                <tr class="no_data">
                    <td colspan="15">{$Think.lang.ds_no_record}</td>
                </tr>
                {/notempty}
            </tbody>
        </table>
        {$show_page}
    </form>
</div>
<script type="text/javascript" src="{$Think.ADMIN_SITE_ROOT}/js/jquery.edit.js" charset="utf-8"></script>
<link rel="stylesheet" href="{$Think.PLUGINS_SITE_ROOT}/js/jquery.lightbox/css/lightbox.min.css">
<script src="{$Think.PLUGINS_SITE_ROOT}/js/jquery.lightbox/js/lightbox.min.js"></script>