<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>中原再生</title>
    <script src="./utils/loading/loading.js"></script>
    <link rel="stylesheet" href="./utils/loading/loading.css">
    <link rel="stylesheet" href="./src/css/css.css">
</head>

<body>

    <div class="wrap Agreement" style="padding: 20px;">
        <h3 style="text-align: center; font-size: 18px;color: #333;">用户协议</h3>
        <div class="main" style="margin-top: 20px; font-size: 14px;color: #333; line-height: 1.8;">
           {$content}
        </div>
    </div>
    <script src="./src/js/jquery.min.js"></script>
    <script src="./utils/layer/layer.js"></script>

</body>

</html>